:root {
    --primary-color: #F7F4F2;
    --secondary-color: #3A3743;
    --accent1-color: #E0D2CD;
    --accent2-color: #D5C3C9;
    --accent3-color: #B8B2BD;

    --nav-background-color: #F7F4F2;
    --nav-link-color:#3A3743;
    --nav-hover-link-color: #3A3743;
    --nav-hover-background-color: #B8B2BD;

    --heading-font: 'Crimson Pro', serif;
    --paragraph-font: 'Nunito', sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-style: normal;
  }

  .crimson-pro {
    font-family: "Crimson Pro", serif;
    font-style: normal;
  }

  /* Header and Nav */

  header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid .3rem var(--secondary-color);
  }

  .svg-background {
    padding: 0rem;
    width: 100%;
    height: 300px;
    background-image: url('../images/mtdream-logo.svg');
    background-size: cover;
    background-position: center 25%;
}

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    font-family: var(--paragraph-font);
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: flex;
    margin: 0 2rem;
    align-items: center;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 15px;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 30px;
}

h1 {
    font-family: var(--heading-font);
    font-size: 38px;
    color: var(--secondary-color);
}

h2 {
    font-family: var(--heading-font);
    font-size: 30px;
    color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    font-size: 22px;
    color: var(--secondary-color);
}

/* main body css */

  main {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
  }

.hero {
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    text-align: center;
}

/* card formating */

.tutorial-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.tutorial-card {
    width: 300px;
    padding: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(224, 209, 205, 0.1);
    text-align: center;
    background-color: var(--accent3-color);
}

.tutorial-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tutorial-card h2 {
    font-size: 1.7em;
    margin: 10px 0;
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.tutorial-card p {
    font-size: 1.1em;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

.tutorial-card .difficulty {
    font-weight: bold;
}

.tutorial-card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    padding: .5rem;
    font-family: var(--paragraph-font);
}

.tutorial-card a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: .5rem;
}

/* contact us button */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    text-align: center;
}

.contact a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    padding: .5rem 5rem;
    font-family: var(--paragraph-font);
    background-color: var(--accent3-color);
    border-radius: 30px;
}

.contact a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--accent3-color);
    transform: scale(1.1);
    border-radius: 30px;
    padding: .5rem 5rem;
}

/* tutorial page */

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    text-align: center;
}

.tutorial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.supply-list, .step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.supply-list ul {
    list-style-type: none;
    font-family: var(--paragraph-font);
    font-size: 22px;
}

.supply-list img, .step1 img, .step2 img, .step3 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 30px;
}


/* contact page */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    text-align: center;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(224, 209, 205, 0.5); 
}

.modal-content {
    background-color: var(--primary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    width: 50%; 
    text-align: center;
}

.close {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close:hover,
.close:focus {
    transform: scale(1.2);
}

/* Form Styles */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
    background-color: var(--accent3-color);
    border-radius: 30px;
    padding: 2rem;
    margin: 0rem auto 2rem auto;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-family: var(--paragraph-font);
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea, button {
    width: 100%;
    padding: .6rem;
    margin: .5rem 0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: var(--paragraph-font);
}

textarea {
    height: 150px; 
    resize: vertical;
}

button {
    cursor: pointer;
    text-align: center;
    width: 50%;
    font-family: var(--paragraph-font);
    font-weight: bold;
    border: none;
    padding: 1rem;
}

button:hover {
    transform: scale(1.1);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
}

footer p {
    font-size: 16px;
}


@media only screen and (min-width: 600px) {
    .svg-background {
        width: 70%;
        background-position: center 30%;
    }

    form {
        max-width: 100%;
    }
    #contactForm {
        max-width: 800px;
    }
    form {
        width: 90%;
    }
}
@media only screen and (min-width: 900px) {
    .svg-background {
        width: 60%;  
        padding: 1rem;
    }

}

@media only screen and (min-width: 1200px) {

    .svg-background {
        width: 50%;
    }

    body {
        max-width: 1600px;
        margin: auto;
    }

    .tutorial-card-container {
        display: grid;
        grid-template-columns: repeat(3, 450px);
    }


}