
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Patrick+Hand&display=swap');

:root {
    --primary-color: #DDCECD;
    --secondary-color: #37392E;
    --accent1-color: #19647E;
    --accent2-color: #EEE5E5;
    --accent3-color: #FAFAFA;

    --nav-background-color: #37392E;
    --nav-link-color:#19647E;
    --nav-hover-link-color: #FAFAFA;
    --nav-hover-background-color: #19647E;

    --heading-font: 'Vidaloka-regular', serif;
    --paragraph-font: 'Patrick-hand-regular', sans-serif;

}

/* Navigation and header*/

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    padding: 10px;
    font-family: var(--paragraph-font);
    font-size: 18px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 15px;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 15px;
}

header {
    grid-column: 1/5;
    display: grid;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
}

/* H1, H2 and paragraph */

h1 {
    padding: 15px;
    font-size: 30px;
    color: var(--accent3-color);
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 25px;
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-wrap: auto;
    padding: 15px;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    background-color: var(--primary-color)
}

main {
    display: grid;
}

.card1 {
    display: grid;
    grid-column: 1/3;
    padding: 25px;
    background-color: var(--accent2-color);
    margin: 10px;
    border-radius: 25px;
    border: 2px solid var(--accent1-color);
    text-align: center;
}


.about1 img {
    float: right;
    width: 150px;
}

.about2 img {
    float: left;
    padding: 0px 15px 15px 15px;
}


.card2 {
    display: grid;
    padding: 25px;
    grid-column: 3/5;
    background-color: var(--accent2-color);
    margin: 10px;
    border-radius: 25px;
    border: 2px solid var(--accent1-color);
}

.card2 a {
    text-decoration: none;
    color: var(--secondary-color);
}

.card2 a:hover {
    color: var(--accent1-color);
}

img {
    width: 200px;
    padding: 0px 15px;
}

li {
    font-family: var(--paragraph-font);
    font-size: 20px;
}

/* Footer */

footer {
    display: flex;
    height: auto;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    justify-content: center;
    font-family: var(--paragraph-font);
    font-size: 20px;
}
