:root {
    --primary-color: #FFFFFF;
    --secondary-color: #2B2D42;
    --accent1-color: #869abe;
    --accent2-color: #EDF2F4;

    --nav-background-color: #8D99AE;
    --nav-link-color:#2B2D42;
    --nav-hover-link-color: #2B2D42;
    --nav-hover-background-color: #EDF2F4;

    --heading-font: 'vidaloka-regular', serif;
    --paragraph-font: 'patrick-hand-regular', sans-serif;
}

/* Navigation and header*/

.vidaloka-regular {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }  

/* main */
main {
    display: flex;    
    justify-content: center;
}

.form-container {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 6px;
    padding: .2rem;
    margin: 2rem;
}

h1 {
    font-family: var(--heading-font); 
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}


/* form */

.product-form {
    background-color: var(--accent2-color);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    padding: .5rem 2%;
    max-width: 450px;
    color: var(--secondary-color);
}

fieldset {
    border: none;
    padding: .5rem;
    margin-bottom: 2rem;
}

.product-form legend {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
}

.product-form label {
    display: block;
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

.product-form div {
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

.product-form input[type="text"],
.product-form select
{
    background-color: var(--primary-color);
    display: block;
    color: var(--secondary-color);
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
}

textarea {
    width: 100%;
    max-width: 400px;
    min-height: 150px;
    background-color: var(--primary-color);
    vertical-align: top;
    padding-top: 0px;
    font-size: 1rem;
}

.product-form input[type="submit"] {
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .5rem 2%;
    border-radius: 6px;
    width: 200px;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;

}

/* counter page */

.counter-container {
    margin: 8rem;
}

.counter-container p {
    font-size: 1rem;
    text-align: center;
    color: var(--primary-color);
}

.review-count {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 6px;
    border: none;
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
}