@media only screen and (min-width: 800px) {

    .nain-container {
        position: relative;
    }

    .hero-img img {
        height: auto;
        position: relative;
    }

    .data {
        top: 15%;
        left: 5%;

    }

    .weather {
        bottom: 0;
        right: 5%;
    }

    .data, .weather {
        position: absolute;
        border-bottom: none;
        border: var(--accent1-color) solid .5rem;
        margin: 3rem;
        padding: 2rem;
        background-color: var(--primary-color);
    }

}